body {
	background-color: #000000;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header--main {
	font-weight: normal;
	font-size: 50px;
	color: #ffffff;

}


.link--cta {
	font-size: 16px;
	color: #ffffff;
	color: aquamarine;	
}

.paragraph--main {
	font-size: 42px;
	color: #ffffff;
	font-family: Verdana;
}
.paragraph--classic {
	font-size: 21px;
	color: gray;
	font-family: Verdana;
}
.trademark {
	text-align: right;
	color: grey;
}


